<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::header">
</head>
<body>
<!--  Topbar start  -->
<div th:replace="index::topbar"></div>
<!--  Topbar end -->

<!--  Navbar start  -->
<div th:replace="index :: navbar"></div>
<!--  Navbar end  -->

<!--  Featured Start -->
<div th:replace="index :: featured"></div>
<!--  Featured End -->

<!--  Book detail start -->
<div class="container-fluid pt-2">
    <div class="row pt-5 pb-3 justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 pb-1">
            <div class="row mr-0 ml-0 pb-2 justify-content-start">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img th:src="${bookDTO.image}" alt="" style="height: 400px" src="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="pb-1 mb-0">
                        <h3 th:text="${bookDTO.name}"></h3>
                    </div>
                    <div class="pb-1 mb-0">
                        <h5>Thể loại: <a th:href="@{'/category/' + ${bookDTO.category.id}}"><span th:text="${bookDTO.category.categoryName}"></span></a></h5>
                    </div>
                    <div class="pb-1 mb-0">
                        <h5>Tác giả: <span th:text="${bookDTO.author}"></span></h5>
                    </div>
                    <div class="pb-1 mb-0">
                        <h5>Ngôn ngữ: <span th:text="${bookDTO.language}"></span></h5>
                    </div>
                    <div class="pb-1 mb-0">
                        <h5>Ngày xuất bản: <span th:text="${bookDTO.publishDate}"></span></h5>
                    </div>
                    <div class="pb-1 mb-0">
                        <h5>Nhà xuất bản: <span th:text="${bookDTO.publisher}"></span></h5>
                    </div>
                    <div class="pb-1 pt-1 mb-0">
                        <del th:if="${bookDTO.discount} > 0"><h5 th:text="${bookDTO.price} + ' VND'"></h5></del>
                        <h2 style="color: red" th:text="${bookDTO.newPrice} + ' đ'"></h2>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
            <div class="row mr-0 ml-0 pb-2">
                <div class="text-center pt-3 mb-4">
                    <h3 class="section-title px-5"><span class="px-2">Mô tả sản phẩm</span></h3>
                </div>
                <div class="text-left pt-3 mb-4">
                    <div th:utext="${bookDTO.about}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Book detail end -->

<!--  Footer start  -->
<div th:replace="index :: footer"></div>
<!--  Footer end-->
<a href="#" th:replace="index::back-to-top"></a>
<th:block th:replace="index::script"></th:block>
</body>
</html>