<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::header">

</head>
<body>
<div class="container-fluid mb-5">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-6 mt-5">
      <div class="text-center mb-3">
        <h1>Book Store</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Xác minh thất bại</h3>
          <h4 class="alert alert-danger" role="alert">
            Xin lỗi, tài khoản của bạn chưa được thực hiện xác minh,
            vui lòng kiểm tra email để hoàn tất việc xác minh tài khoản !
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<a th:replace="index::back-to-top"></a>
<th:block th:replace="index::script"></th:block>
</body>
</html>