<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::header">
</head>
<body>
<!--  Topbar start  -->
  <div th:replace="index::topbar"></div>
<!--  Topbar end  -->
<div class="container-fluid mb-5" >
  <div class="row border-top px-xl-5">
    <!--  Navbar start  -->
    <div th:replace="/admin/admin::navbar"></div>
    <!--  Navbar end  -->
    <!--  Add new book start  -->
    <div class="col-lg-9 justify-content-end">
      <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Thêm sách mới</span></h2>
      </div>
        <form class="row" th:action="@{/admin/add-new-book}" th:object="${uploadBookDTO}" method="post"
              enctype="multipart/form-data">
          <div class="col-lg-5 pr-0">
            <table>
              <tr>
                <td>Tên sách:</td>
                <td><input th:field="*{name}" type="text" id="name"></td>
              </tr>
              <tr>
                <td>Ngôn ngữ:</td>
                <td><input th:field="*{language}" type="text" id="language"></td>
              </tr>
              <tr>
                <td>Thể loại: </td>
                <td><select th:field="*{category}" name="" id="category">
                  <option th:each="cate : ${categoryList}" th:value="${cate.categoryName}" th:text="${cate.categoryName}"></option>
                </select></td>
              </tr>
              <tr>
                <td>Tác giả: </td>
                <td><input th:field="*{author}" type="text" id="author"></td>
              </tr>
              <tr>
                <td>Nhà xuất bản: </td>
                <td><input th:field="*{publisher}" type="text" id="publisher"></td>
              </tr>
              <tr>
                <td>Ngày xuất bản: </td>
                <td><input th:field="*{publishDate}" type="date" id="publishDate"></td>
              </tr>
              <tr>
                <td>Số lượng: </td>
                <td><input th:field="*{quantity}" type="text" id="quantity" ></td>
              </tr>
              <tr>
                <td>Giá: </td>
                <td><input th:field="*{price}" type="text" id="price" ></td>
              </tr>
              <tr>
                <td>Ảnh bìa: </td>
                <td><input type="file" name="image" id="image" class="form-control-file"></td>
              </tr>
              <tr>
                <td>Giảm giá: </td>
                <td><input th:field="*{discount}" type="text" id="discount" ></td>
              </tr>
            </table>
          </div>
          <div class="col-lg-7 pl-0">
            <div>
              <label for="about">Giới thiệu: </label><br>
              <textarea th:field="*{about}" id="about" rows="12" cols="75"></textarea>
            </div>
          </div>
          <div class="pt-2 justify-content-center">
            <button class="btn btn-primary" type="submit">Lưu sách</button>
          </div>
        </form>
    </div>
    <!--  Add new book end  -->

  </div>
</div>
<!-- Footer start -->
<div th:replace="index::footer"></div>
<!-- Footer end -->
<th:block th:replace="index::script"></th:block>
<th:block th:replace="admin/admin::nice-edit"></th:block>
</body>
</html>