<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::header">
</head>
<body>
<!--  Topbar start  -->
<div th:replace="index::topbar"></div>
<!--  Topbar end -->

<!--  Navbar start  -->
<div th:replace="index :: navbar"></div>
<!--  Navbar end  -->

<!--  Featured Start -->
<div th:replace="index :: featured"></div>
<!--  Featured End -->

<!--  Cart start  -->
<div class="container-fluid pt-5">
    <div class="row justify-content-center" th:if="${shoppingCartEmpty}">
        <div class="alert alert-warning text-center col-lg-6 col-md-6 col-sm-12">
            <p th:text="${shoppingCartEmpty}"></p>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <div class="table-responsive">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Tên Sách</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Cập nhật</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    <tr th:each="cartItem : ${shoppingCart.getCartItem()}">
                        <td class="align-middle"><p th:text="${cartItem.book.name}"></p></td>
                        <td class="align-middle"><p
                                th:text="${cartItem.book.price*(1 - cartItem.book.discount)} + '  VND'"></p></td>
                        <form th:action="@{/update-cart}" method="post">
                            <input type="hidden" name="bookId" th:value="${cartItem.book.id}">
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <input type="number" name="quantity"
                                           class="form-control form-control-sm bg-secondary text-center"
                                           th:value="${cartItem.quantity}">
                                </div>
                            </td>
                            <td class="align-middle">
                                <button type="submit" name="action" value="update" class="btn btn-sm btn-primary">Thay
                                    đổi số lượng
                                </button>
                            </td>
                            <td class="align-middle">
                                <button type="submit" name="action" value="delete" class="btn btn-sm btn-primary"><i
                                        class="fa fa-times"></i></button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Đặt hàng</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Tổng tiền</h6>
                        <h6 class="font-weight-medium" th:text="${totalPrices} + '  VND'"></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Phí vận chuyển</h6>
                        <h6 class="font-weight-medium">0 VND</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <form th:action="@{/checkout}" method="post">
                        <!--                        <input type="hidden" name="shoppingCartId" th:value="${shoppingCart.id}">-->
                        <div class="justify-content-between mt-2">
                            <input type="text" placeholder="Tên người nhận" name="receiverName" style="width: 100%">
                        </div>
                        <div class="justify-content-between mt-2">
                            <input type="text" placeholder="Địa chỉ người nhận" name="receiverAddress"
                                   style="width: 100%">
                        </div>
                        <div class="justify-content-between mt-2">
                            <input type="text" placeholder="Số điện thoại người nhận" name="receiverPhone"
                                   style="width: 100%">
                        </div>
                        <button type="submit" class="btn btn-block btn-primary my-3 py-3">Đặt hàng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Cart end-->

<!--  Footer start  -->
<div th:replace="index :: footer"></div>
<!--  Footer end-->
<a href="#" th:replace="index::back-to-top"></a>
<th:block th:replace="index::script"></th:block>

</body>
</html>